<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        {{{ block 'css' }}}
    </head>
    <body>

        {{#if errors }}
            {{#each errors}}
                <p>
                    {{this}}
                </p>
            {{/each}}
        {{/if}}

        {{#if infos }}
            {{#each infos}}
                <p>
                    {{this}}
                </p>
            {{/each}}
        {{/if}}

        {{{body}}}

        {{{ block 'js' }}}
    </body>
</html>
